{% extends "base.html" %}

{% block meta_title %}
	<meta name="description" content="Enfermedades">
	{% if pais.pais_nombre %}
		<meta name="keywords" content="contenido de la página: directorio de enfermedades, Tipos de enfermedades; enfermedades de transmisión; enfermedades respiratorias; síntomas de enfermedades; enfermedades más comunes; enfermedades de piel; imágenes de enfermedades; fotos de enfermedades; tratamiento enfermedades; como prevenir enfermedades, medicamentos en {{ pais.pais_nombre }}, farmacias en {{ pais.pais_nombre }}, laboratorios de {{ pais.pais_nombre }}. ">
	{% else %}
		<meta name="keywords" content="contenido de la página: directorio de enfermedades, Tipos de enfermedades; enfermedades de transmisión; enfermedades respiratorias; síntomas de enfermedades; enfermedades más comunes; enfermedades de piel; imágenes de enfermedades; fotos de enfermedades; tratamiento enfermedades; como prevenir enfermedades, medicamentos, farmacias, laboratorios. ">
	{% endif %}

	<title>PRX Vademécum - Enfermedades</title>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

	var directorio = []

	$(document).ready(function() {

		$(".nav-tabs #enfermedades").addClass('active');

		$('#lista').append('<img id="loader" style="display:block;margin-left:auto;margin-right:auto;" src="{{STATIC_URL}}images/loader-ajax.gif">');

		$.ajax({
			url: "/Enfermedades/getEnfermedades",
			data: { letra:{% if letra %}"{{letra}}"{% else %}''{% endif %} },
			dataType: "json",
			cache: false,
			success: function(data) {
				//alert(JSON.stringify(data));
				for(x in data){
					directorio[x] = [data[x].fields.id_vademecum, data[x].fields.nombre_diagnostico];
				}
				//alert(JSON.stringify(directorio));
				return false;
			},
			error: function(jqXHR, textStatus, errorThrown) {
				if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
			},
			crossDomain: false,
			type: "POST",
		})
		.done(function(){paginar(directorio);},function(){ $('#loader').remove();});
	});

</script>

{% endblock %}

{% block titulo %}
<div class="page-header">
	<h2>ENFERMEDADES:</h2>
</div>
{% endblock %}

{% block contenido %}
	<div class="lista">
		<ul id="lista" class="lista-detalles">
		</ul>
	</div>

	{% include "elements/paginacion.html" %}

{% endblock %}